@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap");
:root {
    --cyan: hsl(176, 50%, 47%);
    --dark-cyan: hsl(176, 72%, 28%);
    --black: hsl(0, 0%, 0%);
    --gray: hsl(0, 0%, 48%);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Commissioner", sans-serif;
    font-size: 16px;
    font-weight: 400;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--gray);
}
h1,
h2,
h3,
h4 {
    color: var(--black);
}
header {
    width: 100%;
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
.nav-container {
    display: flex;
    justify-content: space-between;
}
a {
    font-size: 13px;
    line-height: 16px;
    font-weight: 500;
    text-decoration: none;
}
a:hover {
    cursor: pointer;
    text-decoration: underline;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
main > section {
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.0497193);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}
.mastercraft {
    position: absolute;
    top: -28px;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: none;
}
button {
    border-radius: 33.5px;
    border: none;
    cursor: pointer;
}
.button-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
section.title button {
    height: 56px;
    text-align: center;
}
section.title button:first-of-type {
    padding-left: 40px;
    padding-right: 40px;
}
section.title button:last-of-type {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding-right: 24px;
}
/*Desktop*/
@media screen and (min-width: 1000px) {
    header {
        height: 400px;
        background-image: url("../images/image-hero-desktop.jpg");
        padding: 48px 166px 0;
        margin-bottom: -100px;
    }
    .hamburger-icon {
        display: none;
    }
    .desktop-nav {
        color: white;
        display: flex;
        gap: 30px;
        align-items: center;
    }
    main {
        width: 730px;
    }
    main > section {
        padding: 48px;
    }
}
/*Mobile*/
@media screen and (max-width: 999px) {
    header {
        height: 300px;
        background-image: url("../images/image-hero-mobile.jpg");
        margin-bottom: -70px;
        padding: 32px 6.5% 0;
    }
    .desktop {
        display: none;
    }
    main {
        width: 87.5%;
    }
    main > section {
        padding: 40px 24px;
    }
}
